{{extend 'layout.html'}}

  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{=settings.googlemap_key}}" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.addControl(new GSmallMapControl());
        map.addControl(new GMapTypeControl());
        map.setCenter(new GLatLng(0,0),1);
        // Create a base icon for all of our markers that specifies the
        // shadow, icon dimensions, etc.
        var blueIcon = new GIcon();
        blueIcon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png";
        blueIcon.shadow = "http://www.google.com/mapfiles/shadow50.png";
        blueIcon.iconSize = new GSize(37, 34);
        blueIcon.shadowSize = new GSize(37, 34);
        blueIcon.iconAnchor = new GPoint(9, 34);
        blueIcon.infoWindowAnchor = new GPoint(9, 2);
        blueIcon.infoShadowAnchor = new GPoint(18, 14);

        function createMarker(point, i, message) {
           // Set up our GMarkerOptions object
           if(i==0) markerOptions = { icon:blueIcon };
           else markerOptions= {}
           var marker = new GMarker(point, markerOptions);
           GEvent.addListener(marker, "click", function() {
             marker.openInfoWindowHtml(message);
           });
           return marker;
        }
          var point = new GLatLng(46.874451,11.027355);
          map.addOverlay(createMarker(point, 0, "Obergurgl, Austria"));
     }
    }
    //]]>
    </script>

    <script>
      load();
    </script>


<h2>Directions</h2>

<h3>From Innsbruck Airport to Obergurgl</h3>

<p>In Innsbruck: If you arrive by plane, go by bus (line F) to Innsbruck main train station (HAUPTBAHNHOF).
The bus will leave every 15 min. from the Airport and the ticket costs 1.60
From Innsbruck main train station (Hauptbahnhof) to Obergurgl there are 2 possibilities:</p>

<ul>
<li>by bus directly to Obergurgl</li>
<li>by train & bus, link for the OEBB</li>
</ul>

<p>
The easiest way would be the direct-bus (Regionalbus 8352), which leaves at the main train station, duration: 02:25
If you miss that bus, go by train to
</p>

<h3>The way to Obergurgl</h3>

<a href="www.tiscover.at/at/guide/96741sy,de,SCH1/objectId,RGN630at/arrival.html">directions on arrival</a>

 
<h3>Once In Obergurgl</h3>

<p>If you are in Obergurgl than you should find the centre with the images to the right.
<a href="http://www.obergurgl.com/english.html">You can check the snow conditions</a> at (you need Java for the Webcam)</p>


