{{extend 'layout.html'}}
{{def toLatex(x): return x}}

<br/>
<center>
  <a class="button" href="{{=URL(r=request,f='manage_papers')}}">click here to submit a paper to the workshop</a></center>
</center>
<br/>

<h2>Papers / Proceedings</h2>

{{section=None}}
{{for p in papers:}}
{{if p.section!=section:}}<h3>{{=p.section}}{{section=p.section}}</h3>{{pass}}
<div class="paper">
  <span class="authors">{{=p.authors}}</span>
  <div>
    <span class="title">"{{=p.title}}"</span> 
    <span class="right">[<a href="#" onclick="jQuery('#p{{=p.id}}').slideToggle();return false">more</a>]</span>
  </div>  
  <div class="hidden" id="p{{=p.id}}">
    <div class="abstract1"><b>Abstract</b>:<br/>{{=p.abstract}}<br/>
      <div class="right">[<a href="{{=URL(r=request,f="download",args=p.file)}}">download</a>]</div>
      {{if settings.bibtex:}}
      <b>Bibtex:</b><br/>
      <textarea class="bibtex">{{=(settings.bibtex % p)}}</textarea>
      {{pass}}
    </div>
  </div>
</div>
{{pass}}


