<!doctype html public "-//w3c//dtd xhtml 1.0 strict//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-strict.dtd">
  <!-- design by free css templates http://www.freecsstemplates.org released for free under a creative commons attribution 2.5 license  name       : throughout  description: a two-column, fixed-width design for 1024x768 screen resolutions. version    : 1.0 released   : 20100423  -->
  <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>
        {{=response.title}}
      </title>
      <meta name="keywords" content="Visualizaiton, Workshop, Ovbergugl, Austria" />
      <meta name="description" content="6th High End Visualization Workshop" />
      {{include 'web2py_ajax.html'}}
      <script type="text/javascript" src="{{=URL(r=request,c='static',f='throughout/jquery/jquery.slidertron-0.1.js')}}"></script>

      <link href="{{=URL(r=request,c='static',f='throughout/style.css')}}" rel="stylesheet" type="text/css" media="screen" />
      <style type="text/css">
@import "{{=URL(r=request,c='static',f='throughout/slidertron.css')}}";
</style>
    </head>
    <body>      
      <!-- end #header-wrapper -->
      <div id="logo">
        <h1>
          <a href="#">{{=response.title}}</a>
        </h1>
        <p>
          <em>
	    {{=response.subtitle}}	    
          </em>	  
        </p>	
      </div>      
      <div id="header">
        <div id="menu">
	  {{=MENU(response.menu)}}
        </div>
        <!-- end #menu -->
        <div id="search">
          <form method="get" action="http://www.google.it/search">
            <fieldset>
              <input type="text" name="q" id="search-text" size="15" />
	      <input type="hidden" name="hl" value="en" />
	      <input type="hidden" name="ie" value="ISO-8859-1" />
	      <input type="hidden" name="sitesearch" value="vizworkshop.cct.lsu.edu" />
            </fieldset>
          </form>
        </div>
        <!-- end #search -->
      </div>
      <!-- end #header -->
      <hr />
      <!-- end #logo -->
      {{if request.controller=='default' and request.function in ('index','attendees','directions','agenda'):}}
      <div id="slideshow">
        <!-- start -->
	{{if request.function=='index':}}
        <div id="foobar">
          <div id="col1">
            <a href="#" class="previous">
              &nbsp;
            </a>
          </div>
          <div id="col2">
            <div class="viewer">
              <div class="reel">
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/1.jpg" width="726" height="335" alt="" />
                  <span>Colliding galaxies</span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/17.jpeg" width="726" height="335" alt="" />
                  <span>Topological charge in presence of two QCD instantons</span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/2.jpg" width="726" height="335" alt="" />
                  <span>Mergining Nautron Stars</span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/3.jpg" width="726" height="335" alt="" />
                  <span>Fiber Bundle Visualization</span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/4.jpg" width="726" height="335" alt="" />
                  <span></span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/20.jpeg" width="726" height="335" alt="" />
                  <span>Topological charge in presence of two QCD instantons</span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/5.jpg" width="726" height="335" alt="" />
                  <span></span>
                </div>
                <div class="slide">
                  <img src="{{=URL(r=request,c='static',f='slideshow')}}/6.jpg" width="726" height="335" alt="" />
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div id="col3">
            <a href="#" class="next">
              &nbsp;
            </a>	    
          </div>
        </div>
        <script type="text/javascript">

	  $('#foobar').slidertron({
	  viewerSelector:		'.viewer',
	  reelSelector:			'.viewer .reel',
	  slidesSelector:		'.viewer .reel .slide',
	  navPreviousSelector:	        '.previous',
	  navNextSelector:		'.next',
	  navFirstSelector:		'.first',
	  navLastSelector:		'.last'
	  });
	  
	</script>
	{{else:}}
	<div id="map_container">
	<div id="map"></div>
	</div>
	{{pass}}
        <!-- end -->	
      </div>
      {{pass}}
      <div id="page">
        <div id="page-bgtop">
          <div id="content">
	    <div class="flash">{{=response.flash}}</div>
            <div class="post">
	      {{include}}
            </div>
          </div>
          <!-- end #content -->
          <div id="sidebar">
            <ul>
              <li>
                <h2>
                  Authentication
                </h2>
                <ul>
		  {{if auth.user:}}
		  <li>Welcome {{=A(auth.user.first_name,_href=URL(r=request,f='user/profile'))}}
                    {{if manager:}}[M]{{pass}}{{if editor:}}[E]{{pass}}
		  </li>
		  <li>{{=A('logout',_href=URL(r=request,f='user/logout'))}}</li>
		  <li>{{=A('edit profile',_href=URL(r=request,f='user/profile'))}}</li>
		  <li>{{=A('change password',_href=URL(r=request,f='user/change_password'))}}</li>		  
		  <li>{{=A('submit and manage papers',_href=URL(r=request,f='manage_papers'))}}</li>
		  {{else:}}
		  <li>{{=A('login',_href=URL(r=request,f='user/login'))}}</li>		  
		  <li>{{=A('register',_href=URL(r=request,f='user/register'))}}</li>		  
		  <li>{{=A('lost password?',_href=URL(r=request,f='user/request_reset_password'))}}</li>		  
		  {{pass}}
                </ul>
              </li>
              <li>
		<h2>Mailing List</h2>
		<p>
		  Join the workshop <a href="mailto:highendvizworkshop-subscribe@cct.lsu.edu">mailing list</a> to receive further announcements. Previous announcements can be found <a href="https://mail.cct.lsu.edu/pipermail/highendvizworkshop/">here</a>.
		</p>
	      </li>
	      <li>
                <h2>
                  Previous Conferences
                </h2>
                <ul>
                  <li>
                    <a href="https://www.cct.lsu.edu/vizworkshop09">Remote and Collaborative Visualization</a>
                  </li>
                  <li>
                    <a href="http://www.vizworkshop.at/">Visualization of Non-Trivial Data Structures</a>
                  </li>
                  <li>
                    <a href="http://astro-staff.uibk.ac.at/visworkshop2006/">Public Releations and Public Outreach of Scientific Visualization </a>
                  </li>
                  <li>
                    <a href="http://astro-staff.uibk.ac.at/visworkshop2005/">Multipatch Methods </a>
                  </li>
                  <li>
                    <a href="http://astro-staff.uibk.ac.at/visworkshop2004/">Numerical Relativity Mesh Refinement Visualization Meeting</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- end #sidebar -->
          <div style="clear: both;">
            &nbsp;
          </div>
        </div>
        <!-- end #page -->
      </div>
      <div id="footer">
        <p>
          Copyright (c) 2010. All rights reserved. 
	  Powered by <a href="http://web2py.com">web2py</a>
	  Design by <a href="http://www.freecsstemplates.org/">free css templates</a>.
        </p>
      </div>
      <!-- end #footer -->
    </body>
  </html>

